
<%- include('partials/header') %>

<div class="container py-5 bg-light">
    

    <div class="row">
        <div class="col-md-4 col-8 offset-2 offset-md-4 shadow p-4">
            <h3 class="text-center mb-3">Change Password Here!</h3>
            <form action="/changepassword" method="POST">
                <div class="mb-3">
                  <input type="password" name="password" class="form-control" id="newpassword"  placeholder=" Password...">
                </div>
                <div class="mb-3">
                    <input type="password" name="cpassword" class="form-control" id="cpassword"  placeholder="Confirm New Password...">
                  </div>
                <button type="submit" class="btn btn-outline-danger w-100">Change Password</button>
              </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
