
<%- include('partials/header') %>

<div class="container py-5 bg-light">
    

    <div class="row">
        <div class="col-md-6 col-10 offset-1 offset-md-3 shadow p-4">
            <h3 class="text-center mb-3">Reset Password Here!</h3>
            <%- include('partials/message') %>
            <form action="/forgetpassword" method="POST">
                <div class="mb-3">
                  <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email...">
                </div>
                <button type="submit" class="btn btn-danger w-100">Reset Password</button>
              </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
