<%- include('partials/header') %>

<div class="container py-5 bg-light">
    

    <div class="row mt-4">
        <div class="col-md-6 col-10 offset-1 offset-md-3 shadow p-4">
            <h3 class="text-center mb-3">Reset Password</h3>
            <%- include('partials/message') %>
            <form action="/reset/<%= token %>" method="POST">
                <div class="mb-3">
                  <input type="password" name="password" class="form-control" id="email" placeholder="Enter Password...">
                </div>
                <div class="mb-3">
                  <input type="password" name="cpassword" class="form-control" id="cpassword" placeholder="Enter Cpassword...">
                </div>
                <button type="submit" class="btn btn-danger w-100">Login</button>
              </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>